{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.comment_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.comment_list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'comment.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.content'|trans, 'comment.content') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.created_at'|trans, 'comment.created_at') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.recipe'|trans, 'comment.recipe') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.user'|trans, 'comment.user') }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for comment in pagination.items %}
                <tr>
                    <td>{{ comment.id }}</td>
                    <td>{{ comment.content }}</td>
                    <td>{{ comment.createdAt|date('Y/m/d')  }}</td>
                    {% if comment.recipe.title is defined %}
                        <td><a type="button" class="btn btn-outline-secondary" href="{{ url('recipe_show', {id: comment.recipe.id}) }}" name="{{ 'action.show'|trans }}">
                            {{ comment.recipe.title }}
                            </a></td>
                        {% else %} <td> null </td>
                    {% endif %}
                    {% if comment.user.id is defined %}
                        <td><a type="button" class="btn btn-outline-secondary" type="button" class="btn btn-primary" href="{{ url('user_show', {id: comment.user.id}) }}" name="{{ 'action.show'|trans }}">
                                {{ comment.user.name }}
                            </a></td>
                    {% else %} <td> null </td>
                    {% endif %}
                    <td>
                        <a type="button" class="btn btn-primary" href="{{ url('comment_show', {id: comment.id}) }}" title="{{ 'action.show'|trans }}">
                            {{ 'action.show'|trans }}
                        </a>
                        <a type="button" class="btn btn-danger" href="{{ url('comment_delete', {id: comment.id}) }}" title="{{ 'action.delete'|trans }}">
                            {{ 'action.delete'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}