{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.comment_details'|trans({'%id%': comment.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.comment_details'|trans({'%id%': comment.id|default('')}) }}</h1>
    {% if comment is defined and comment|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>{{ comment.id }}</dd>
            <dt>{{ 'label.content'|trans }}</dt>
            <dd>{{  comment.content }}</dd>
            <dt>{{ 'label.created_at'|trans }}</dt>
            <dd>{{ comment.createdAt|date('Y/m/d') }}</dd>
        </dl>
        <p>
            <a href="{{ url('comment_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </p>
        

    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}