
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand px-3" href="{{ url('index') }}">Giganci Gotowania</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url('category_index') }}" name="{{ 'name.category_list'|trans }}">
                    {{ 'name.category_list'|trans }}
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ url('recipe_index') }}" name="{{ 'name.recipe_list'|trans }}">
                    {{ 'name.recipe_list'|trans }}
                </a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url('comment_index') }}" name="{{ 'name.comment_list'|trans }}">
                        {{ 'name.comment_list'|trans }}
                    </a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="{{ url('user_index') }}" name="{{ 'name.user_list'|trans }}">
                        {{ 'name.user_list'|trans }}
                    </a>
                </li>
            {% endif %}

        </ul>
        <div class="px-3">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div>{{ app.user.email }}</div>
                <div>
{#                    <a class="btn btn-secondary" href="{{ url('user_show', {id: user.id}) }}">{{ 'user_panel'|trans }}</a>#}
                    <a class="btn btn-secondary" href="{{ url('app_logout') }}">{{ 'action_logout'|trans }}</a>
                </div>
            {% else %}
                <div>
                    <a class="btn btn-secondary" href="{{ url('app_login') }}">{{ 'action_login'|trans }}</a>
                    <a class="btn btn-secondary" href="{{ url('user_signup') }}">{{ 'action_signup'|trans }}</a>
                </div>
            {% endif %}
        </div>
    </div>
</nav>