{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.recipe_list'|trans }}
{% endblock %}

{% block body %}

    <h1>{{ 'title.recipe_list'|trans }}</h1>
    <p>
        <a href="{{ url('recipe_create') }}" title="{{ 'action.add_recipe'|trans }}">
            {{ 'action.add_recipe'|trans }}
        </a>
    </p>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'recipe.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.title'|trans, 'recipe.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.content'|trans, 'recipe.content') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.createdAt'|trans, 'recipe.createdAt') }}</th>
                <th>{{'label.category'|trans }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for recipe in pagination.items %}
                <tr>
                    <td>{{ recipe.id }}</td>
                    <td>{{ recipe.title }}</td>
                    <td>{{ recipe.content }}</td>
                    <td>{{ recipe.createdAt|date('Y/m/d') }}</td>
                    <td><a type="button" class="btn btn-secondary" href="{{ url('category_show', {id: recipe.category.id}) }}" name="{{ 'action.show'|trans }}">
                            {{ recipe.category.name }}
                        </a></td>
                    <td>
                        <a type="button" class="btn btn-primary" href="{{ url('recipe_show', {id: recipe.id}) }}" title="{{ 'action.show'|trans }}">
                            {{ 'action.show'|trans }}
                        </a>
                        {% if is_granted('ROLE_ADMIN') %}
                        <a type="button" class="btn btn-success" href="{{ url('recipe_edit', {id: recipe.id}) }}" title="{{ 'action.show'|trans }}">
                            {{ 'action.edit'|trans }}
                        </a>

                        <a type="button" class="btn btn-danger"href="{{ path('recipe_delete', {'id': recipe.id}) }}" name="{{ 'action.delete'|trans }}">
                            {{ 'action.delete'|trans }}
                        </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}