{% extends 'base.html.twig' %}
{% block title %}
    {{  recipe.title }}
    {{ '|' }}
    {{ 'title.recipe_details'|trans({'%id%': recipe.id|default('')}) }}
{% endblock %}

{% block body %}

    {# WYSWIETLENIE PRZEPISU #}
    <h1 class="p-3">{{  recipe.title }}</h1>
    {% if recipe is defined and recipe|length %}
        <dl class="dl-horizontal px-4">
            <dd class="d-flex justify-content-between"><a type="button" class="btn btn-secondary" href="{{ url('category_show', {id: recipe.category.id}) }}" name="{{ 'action.show'|trans }}">
                    {{ recipe.category.name }}</a>
                <div>{{ recipe.createdAt|date('Y/m/d')  }}</div>
                </dd>
            <dd class="p-3">{{  recipe.content }}</dd>

        </dl>


    {# KOMENTARZE #}
        <div class="px-4">
        <h3>{{ 'title.comment_list'|trans }}</h3>

        {% if pagination is defined and pagination.items|length %}

            <div class="navigation text-center">
                {{ knp_pagination_render(pagination) }}
            </div>

            <table class="table table-striped p-3">
                <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'label.user'|trans, 'comment.user.name') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'label.content'|trans, 'comment.content') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'label.created_at'|trans, 'comment.created_at') }}</th>

                </tr>
                </thead>
                <tbody>
                {% for comment in pagination.items %}
                    <tr>
                        {% if comment.user.id is defined %}
                            <td><a href="{{ url('user_show', {id: comment.user.id}) }}" name="{{ 'action.show'|trans }}">
                                    {{ comment.user.name }}
                                </a></td>
                        {% else %} <td> null </td>
                        {% endif %}
                        <td>{{ comment.content }}</td>
                        <td>{{ comment.createdAt|date('Y/m/d')  }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="navigation text-center">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% else %}
            <p>
                {{ 'message.empty_list'|trans }}
            </p>
        {% endif %}

        {# DODAJ KOMENTARZ #}
        <p class="d-flex justify-content-center">
            <a type="button" class="btn btn-primary m-3"  href="{{ url('comment_create', {id: recipe.id}) }}" title="{{ 'action.add_comment'|trans }}">
                {{ 'action.add_comment'|trans }}
            </a>
            <a type="button" class="btn btn-outline-primary m-3" href="{{ url('recipe_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
    </div>
{% endblock %}